.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1e3a8a;
  padding: 12px 20px;
  color: white;
}

.admin-btn {
  background: #ef4444;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 5px;
  cursor: pointer;
}

.admin-btn:hover {
  background: #dc2626;
}
